
# build and tests
**/.next/
**/out/
**/.sst/
**/build/
**/dist/
**/out/
**/.generated*
**/.temp-*
**/.execute-check*
**/.cdk.staging
**/cdk.out
**/coverage/
**/node_modules/
.package-hashes.json
**/tsconfig.tsbuildinfo
**/tsconfig.node.tsbuildinfo
**/tsconfig.browser.tsbuildinfo
**/tsconfig.esm.tsbuildinfo
**/tsconfig.cjs.tsbuildinfo

# special builds
packages/utils/src/browser/paycode-proxy-api/client/*


#maintenance
**/.history/
**/tmp/
**/temp/
**/logs/
*scratch*
**/.scratch/
**/notes.txt
npm-debug.log*

# caches
**/.cache/
**/cache/
**/.DS_Store
**/hash.tracker

# local env files, environment dependent, sensitive
**/*.pem
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
**/amplify-be.config.json




