{
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "parser": "typescript",
    "printWidth": 80,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "all",
    "useTabs": false,
    "overrides": [
        {
          "files": "*.graphql",
          "options": {
            "parser": "graphql"
          }
        },
        {
          "files": "*.json",
          "options": {
            "parser": "json",
            "singleQuote": false
          }
        }
    ]
}