/* Basic structure for demoContainer */
.demoContainer {
  background-color: #333;
  display: flex;
  margin: 0;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 20px;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.boxTextSize {
  font-size: 22px;
}

.transferContainer, .transactionContainer, .profileContainer, .notificationContainer, .paymentContainer, .balanceContainer, .qrCodeContainer, .documentsContainer {
  background-color: rgba(240, 248, 255, 0.082);
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  text-align: left;
  gap: 10px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bellIcon {
  font-size: 24px;
}

.documentTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  color: #ccc; /* Light text for dark mode */
}

.documentTable th {
  background-color: #222;
  background-image: linear-gradient(145deg, #333, #222);
  color: #fff;
  padding: 12px 8px;
  border-bottom: 2px solid #555;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.1em;
}


.inputFileContainer {
  margin-top: 20px; /* Add spacing above the Choose File input */
}

.notificationModal {
  background-color: rgb(255, 255, 255);
  width: auto;
  max-width: 400px;
  margin: 50px auto;
}

.notificationInput {
  width: 100%;
}

.updateProfileButton {
  margin-left: 10px;
}

.notificationsList, .notificationItem {
  width: 100%;
  background-color: #f0f0f0;
  padding: 5px;
  margin: 5px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
}

.notificationTester {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.transactionTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  color: #ccc; /* Light text for dark mode */
}


.transactionTable th, .transactionTable td {
  border: 1px solid #555; /* Darker borders for contrast */
  padding: 8px;
  text-align: left;
}

.transactionTable th {
  background-color: #222; /* Dark header background */
  color: #ddd; /* Light header text */
}

.transactionTable tr:nth-child(even) {
  background-color: #444; /* Darker row for striping */
}

.transactionTable tr:hover {
  background-color: #555; /* Slightly lighter on hover */
}


.qrCodeContainer {
  background-color: rgba(240, 248, 255, 0.082);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
  gap: 20px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.generateButton {
  background-color: #333;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  font-weight: 500;
  width: 80%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlayContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}


.closeButton {
  background-color: #718096;
  color: white;
  margin-bottom: 20px;
}


.qrCodeImage {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}